# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/
venv/
ENV/

# Poetry
poetry.lock
*.egg-info/

# VSCode / IDE
.vscode/
.idea/
*.swp

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment
.env
